@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway&display=swap');

* {
    box-sizing: border-box;
}

.awesome {
width: 1170px;
padding: 0px 15px;
}



.awesome__main-title {
text-align: center;
font-size: 36px;
font-style: normal;
line-height: 42.26px;
font-family: 'Raleway', sans-serif;
}

.separator {
text-align: center;
}

.awesome__secondary-title {
text-align: center;
font-size: 18px;
line-height: 21.13px;
font-weight: 400;
font-family: Raleway;
}

.awesome__skill-list {
list-style: none;
display: flex;
align-items: end;
text-align: center;
color: #000000;
}

.ellipse{
position: absolute;
}

.skill-item__image--wrapper{
border-radius: 100%;  
}

.skill-item_image-wrapper1{
    border-radius: 100%;
    border: 1px solid #EC7979;
    margin: auto;
    height: 90px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.skill-item__title{
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 33px;
align-items: center;
text-align: center;
text-transform: capitalize;

color: #000000;

}

.skill-item__descr{
text-align: center;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
}